/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
select {
  vertical-align: middle;
}

li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.inner {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
@media all and (max-width: 480px) {
  .inner {
    max-width: 375px;
  }
}

body {
  letter-spacing: 0.05em;
  line-height: 1.2;
  color: #4b4949;
  background-color: #fff;
  font-family: "Noto Sans JP", "serif";
  font-size: 16px;
}
@media all and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

.flex {
  display: flex;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.section_title {
  font-size: 32px;
  font-family: "Montserrat ExtraBold";
}
@media all and (max-width: 480px) {
  .section_title {
    font-size: 28px;
  }
}

#mv {
  height: 100vh;
  position: relative;
}

#mv::after {
  content: "";
  height: 100%;
  width: 50%;
  background-color: #555;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.kv {
  background-image: url(../img/kv.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 86.5%;
  width: 76.4%;
  position: relative;
}

.kv::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.mv_maincatch {
  position: absolute;
  top: 30%;
  right: -10%;
  color: #fff;
  z-index: 1;
}
@media all and (max-width: 480px) {
  .mv_maincatch {
    right: -20%;
  }
}

.mv_description {
  font-size: 20px;
  font-family: " YuGothic";
}

.mv_catch {
  font-size: 72px;
  font-family: "Montserrat ExtraBold";
}

.about_container {
  max-width: 590px;
  width: 100%;
  padding: 50px 30px;
  line-height: 2;
  background-color: rgba(255, 255, 255, 0.95);
}
@media all and (max-width: 480px) {
  .about_container {
    max-width: 340px;
    margin: 0 auto;
  }
}

.about_description {
  padding-top: 30px;
}

.btn_link {
  max-width: 160px;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  padding: 10px 0;
  margin-top: 30px;
}

.btn_link:hover {
  opacity: 0.7;
}

.btn_link:active {
  transform: translateY(5px);
}

.btn_link a {
  width: 100%;
}

#about .inner {
  background-image: url(../img/about-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 110px;
  padding-left: 50px;
  padding-bottom: 110px;
  margin-top: 120px;
}
@media all and (max-width: 480px) {
  #about .inner {
    padding-left: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

#about {
  position: relative;
}

#about::after {
  content: "";
  width: 100vw;
  height: 160px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: #f0f0f0;
}

.culture_img,
.works_img {
  max-width: 520px;
  margin-top: 30px;
}

.works_wrapper {
  width: 100%;
  padding: 80px 0;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  .works_wrapper {
    flex-direction: column;
    padding: 0;
    margin-left: 40px;
  }
}

.culture_lead,
.works_lead {
  padding-top: 30px;
}

#works_culture {
  background-color: #f0f0f0;
}
@media all and (max-width: 768px) {
  #works_culture {
    padding-bottom: 40px;
  }
}

@media all and (max-width: 768px) {
  #works_culture .section_title {
    padding-top: 60px;
  }
}

#topics .inner {
  text-align: left;
}

.topics_list {
  max-width: 700px;
  margin: 0 0 0 auto;
}

#topics .btn_link {
  margin: 60px 0 60px auto;
}

.topics_title {
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
  font-size: 14px;
  font-family: "YuGothic";
  font-weight: bold;
}

.topics_time {
  font-size: 10px;
  color: #cecece;
  margin-top: 30px;
}

#topics .section_title {
  padding-top: 60px;
}

#contact {
  background-color: #f2f2f2;
}

#contact .inner {
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 120px;
}
@media all and (max-width: 768px) {
  #contact .inner {
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }
}

.contact_image {
  max-width: 580px;
}

.contact_text {
  max-width: 440px;
  width: 100%;
}
@media all and (max-width: 768px) {
  .contact_text {
    margin: 40px auto 0 40px;
  }
}

.contact_lead {
  margin-top: 30px;
  line-height: 2;
  font-family: "YuGothic";
}

.coop {
  background-color: #525252;
  text-align: center;
  font-size: 10px;
  padding: 18px 0;
  color: #fff;
}

.header {
  justify-content: space-between;
}

.nav-item a {
  color: #fff;
  padding-top: 30px;
  font-size: 20px;
  font-family: "Montserrat ExtraBold";
}

.header-nav {
  background-color: rgba(34, 34, 34, 0.95);
  width: 400px;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  transform: translateX(100%);
  transition: 1s;
  padding: 120px 0 0 0;
}

.bar {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1px;
}

.bar_top {
  transform: translateY(-4px);
  transition: transform 0.3s;
}

.bar_bottom {
  transform: translateY(4px);
  transition: transform 0.3s;
}

.burger-btn {
  display: flex;
  position: fixed;
  top: 40px;
  right: 4vw;
  z-index: 3;
}

.menu {
  margin-left: 10px;
  color: #fff;
}

.scroll {
  color: black;
}

.bar-color {
  background-color: #000;
}

.header-nav.open {
  transform: translateX(0%);
}

.site-title {
  width: 260px;
  position: fixed;
  top: 38px;
  left: 4vw;
  z-index: 1;
}

.bar_top.closs {
  transform: translateY(2px) rotate(35deg);
  transition: 0.5s;
}

.bar_bottom.closs {
  transform: translateY(-2px) rotate(-35deg);
  transition: 0.5s;
}

.bar_mid.closs {
  opacity: 0;
  transition: 0.5s;
}

.burger-musk.fadein {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: 0.5s;
}

.site-title {
  fill: #fff;
}